.card-container {
  width: 300px;
  height: fit-content;
  overflow: hidden;
  justify-content: center;
  border-width: 20px;
  border-radius: 20px;
  border-color: black;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}
.card-container:hover {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  transform: scale(1.005);
}
.image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.description {
  font-size: medium;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
  text-align: justify;
}
.content {
  text-align: center;
  font-weight: bold;
}
button {
  height: 40px;
  width: 280px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  background-color: brown;
}

button:hover {
  background-color: aqua;
}
